.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}